.root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* 채팅박스 */
.chatArea {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
