.sendMessageBox {
  display: flex;
  justify-content: end;
  align-items: end;
  align-self: end;
  width: 100%;
  height: max-content;
  /* flex-direction: column; */
}

.receiveMessageBox {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  align-self: end;
  width: 100%;
  height: max-content;
  flex-direction: column;
}

.sendMessage {
  width: max-content;
  height: 100%;
  min-height: 40px;
  display: flex;
  align-items: center;
  background-color: lightgoldenrodyellow;
  border-radius: 10px 10px 0px 10px;
  padding: 10px;
  font-size: 12px;
}

.receiveMessage {
  width: max-content;
  height: 100%;
  min-height: 40px;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 0px 10px 10px 10px;
  padding: 10px;
  font-size: 12px;
}

.user {
  font-size: 12px;
  margin: 3px;
}
