.root {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputMessage {
  width: 100%;
  height: 100%;
  border: none;
  padding: 10px;
  background-color: rgb(243, 242, 242);
}

input:focus {
  outline: none;
}

.sendBtn {
  width: 120px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #536493;
  color: white;
  font-size: 12px;
  font-weight: 700;
}
